{% extends "layout.html" %}

{% block body %}
{% if request.user.is_authenticated %}
    <div class="row">

      <!-- Post Content Column -->
      <div class="col-lg-9">

        <!-- Title -->
        <h3 class="mt-4">{{article.title}}</h3>

        <!-- Author -->
        <p class="lead">
          Yazar: 
          <a href="/user/{{article.author}}">{{article.author}}</a><br>
          <a> Oluşturulma Tarihi: {{article.created_date}} </a>
        </p>
        <hr>

        <!-- Preview Image -->
        <!--<img class="img-fluid rounded" src="http://placehold.it/900x300" alt=""><hr>-->

        <!-- Post Content -->
        <p class="lead"> {{article.content}} </p>
        <hr>
          </div>
        </div>
      </div>
    </div>
{% else %}
<div class="alert alert-danger">İçeriği görmek için lütfen giriş yapın.</div>
{% endif %}
{% endblock body %}