{% extends "layout.html" %}

{% block body %}
<h3> Kontrol Paneli </h3>
<hr>
<p>
Hoş geldiniz, {{request.user.username}}
{% if request.user.is_superuser == 1 %}
<a href="/admin" class ="btn btn-danger" style="float: right; margin-right:5px">Yönetim Paneli</a>
{% endif %}
<a href="/articles/addarticle" class ="btn btn-success" style="float: right;margin-right:10px; margin-bottom: 10px">Makale Ekle</a>

</p><br><hr>


{% if articles %}

<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Başlık</th>
      <th scope="col">Yazar</th>
      <th scope="col">Oluşturulma Tarihi</th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
  {% for i in articles %}
    <tr>
      <th scope="row">{{i.id}}</th>
      <td> <a href="/articles/detail/{{i.id}}"> {{i.title}} </a></td>
      <td> <a href="/user/{{i.author}}"> {{i.author}} </a></td>
      <td> <a> {{i.created_date}} </a></td>
      <td> <a href="/articles/edit/{{i.id}}" class="btn btn-primary"> Güncelle </a></td>
      <td> <a href="/articles/delete/{{i.id}}" class="btn btn-danger"> Sil </a></td>
    </tr>
    {% endfor %}
  </tbody>

</table>

{% else %}
<div class="alert alert-danger">Henüz bir makaleniz bulunmuyor.</div>
{% endif %}

{% endblock %}