{% extends "layout.html" %}
{% load crispy_forms_tags %}

{% block body %}

<div class="container">
  <div class="row">
    <div class="col">
    </div>
    <div class="col-9">
        <h3> Makale Düzenle </h3>
        <hr>
        <form method = "post">
        {% csrf_token %}
        {{form|crispy}}
        <br>
        <button type="submit" style="float:right" class="btn btn-outline-success">Düzenle</button>

        </form>
    </div>
    <div class="col">
    </div>
  </div>

{% endblock %}
