{% extends "layout.html" %}

{% block body %}
<div class="container">
    <hr>
    <blockquote class="blockquote text-center">
    Merhaba. Ben Barış. Birkaç yıldır Python üzerinde çalışıyorum. Bu siteyi ise Django'yu öğrenmek için yapıyorum. Blogun kaynak kodlarını projem bittiğinde paylaşacağım.
        Eğer blog hakkında daha fazla bilgi almak isterseniz <a href="/about">buraya</a> tıklayın.
        Geliştirici günlüğüne ulaşmak için ise <a href="/gunluk">buraya</a> tıklayın.
    </blockquote>
    <hr>
    <blockquote class="blockquote text-center">
        Hello. I am Barış. I have been working on Python for couple years. And I am building this site for learning django framework. I will publish this blog's source codes when it is done.
        If you want to see more about this blog click <a href="/about">here</a>.
        You can see my development diary from <a href="/gunluk">here</a>.
    </blockquote>
    <hr>
{% endblock body %}

